<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322215662919-fcsnf4as17lbhtocsdlflrhurt9jfeul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322215662919-fcsnf4as17lbhtocsdlflrhurt9jfeul</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvw6yZB4y5O62qlE0lfRsSxecP0Bv6O0</string>
	<key>GCM_SENDER_ID</key>
	<string>322215662919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>solutions.reddymedia.NotificationDemoConsole</string>
	<key>PROJECT_ID</key>
	<string>notificationsdemo-2345f</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationsdemo-2345f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322215662919:ios:b29ca6e2f6be92daa32862</string>
</dict>
</plist>